

<div id="myDIV" class="header">
  <a href ="/" class="btn btn-lg btn-primary">Home</a>
  <a href ="/compte" class="btn btn-lg btn-success">Mon Compte</a>
  <a href ="/register" class="btn btn-lg btn-warning">Inscription</a>
  <a href ="/logout" class="btn btn-lg btn-danger">Logout</a>
</div>